<div id="heading" class="grid-container">
	<div class="grid-20 mobile-grid-20">
	  <a href="{{ site.url }}/"><img src="/images/radicle-icon.png" class="logo-icon"></img></a>
	</div>
	<div class="grid-80 mobile-grid-80 grid-parent">
	  <div class="grid-100 hide-on-mobile">
	    <span class="logo-text logo-text-radicle">RADICLE</span>
	    <span class="logo-text logo-text-design">DESIGN</span>
	  </div>
	  <span class="mobile-grid-100 hide-on-desktop logo-text logo-text-radicle">RADICLE</span>
	  <span class="mobile-grid-100 hide-on-desktop logo-text logo-text-design">DESIGN</span>
	  <div class="grid-100 logo-tagline hide-on-mobile">
	    Up, up and to the right
	  </div>
	</div>
</div>