/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/******************************
  styles
*******************************/


.clearfix{
  clear: both;
}

.elipses{
  color: #73cf3b;
  font-size: 85px;
}

.elipses.down{
  width: 1px;
  word-wrap:break-word;
  line-height: 20px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.center-text{
  text-align: center;
}

.heading{
  font-family: "atrament-web",sans-serif;
  font-size: 100px;
  margin-left: 5px;
  color: #4d4d4d;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*
  header
*/
.header{
  height: 240px;
}

.logo{
  float:left;
  height: 150px;
  position: relative;
  left: 115px;
  top: 50px;
}

.logo-icon{
  float:left;
  background-image: url('/images/radicle-icon.png')
  width:150px;
  height:150px;
  display:block;
}

.logo-text{
  float:left;
  font-family: "atrament-web",sans-serif;
  font-size: 100px;
  margin-left: 5px;
}

.logo-text .logo-text-radicle{
  color: #73cf3b;
}

.logo-text .logo-text-design{
  color: #4d4d4d;
}

.logo-tagline{
  position: absolute;
  top: 100px;
  left: 162px;
  color: #73cf3b;
  font-family: "kepler-std-subhead",serif;
  font-size: 45px;
}

/*
  dictionary
*/
.dictionary{
  font-family: "kepler-std-subhead",serif;
  background-color:#f2f2f2;
  color: #4d4d4d;
  padding-top:50px;
  padding-bottom:30px;
}

.dictionary-pointer{
  position:relative;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f2f2f2;
  bottom:70px;
  left:170px;
}

.dictionary-content{
  margin-left: 120px;
  margin-right: 120px;
}

.dictionary-word{
  float:left;
  font-size: 120px;
  line-height: 60px;
}

.dictionary-definition-container{
  width:50%;
  height:138px;
}

.dictionary-definition{
  float:left;
  font-size: 38px;
  width: 400px;
  height: 138px;
  line-height: 42px;
}

.dictionary-growth{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 80px;
  color: #73cf3b;

}

.dictionary-pronunciation{
  font-size: 60px;
}

.dictionary-noun{
  position: relative;
  width: 100px;
  bottom: 37px;
  font-size: 60px;
}

.dictionary-example{
  font-size: 38px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.dictionary .elipses{
  overflow: hidden;
}

.dictionary .elipses.down{
  position:absolute;
}

/*
  we do what?
*/

.we-do-what-section{
  margin-left:120px;
  margin-right:120px;
  margin-bottom: 100px;
  height: 120px;
}

.we-do-what-section-icon{
  float:left;
  height:100px;
  margin-right: 30px;
}

.we-do-what-section-icon img{
    width:50px;
}

.we-do-what-section-content-title{
  color: #73cf3b;
  font-family: "kepler-std-subhead",serif;
  font-size: 60px;
  line-height: 50px;
}

.we-do-what-section-content-wording{
  color: #4d4d4d;
  font-family: "kepler-std-subhead",serif;
  font-size: 35px;
}









