---
layout: default
subhead: BLOG
---

<div id="post" class="blog-post grid-container">
	<div class="prefix-15 grid-60 suffix-25 mobile-grid-100">
		{% if page.blog_title or page.title %}
		<h1>{% if page.blog_title %}
			{{ page.blog_title }}
			{% else %}
			{{ page.title }}
			{% endif %}
			{% if page.author && page.date %}
			<span class="blog-post-info clearfix">{{ page.author }}/{{ page.date | date: "%B %d, %Y" }}</span>
			{% endif %}
		</h1>
		{% endif %}
		{{ content }}
	</div>
	<div class="spacer-70-vertical grid-100 hide-on-mobile"></div>
	<div class="spacer-35-vertical mobile-grid-100 hide-on-desktop"></div>
	<div class="prefix-15 grid-60 suffix-25 mobile-grid-100" id="disqus_thread"></div>
</div>

<!--
	Disqus comments
-->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'radicledesign'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    